@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 300;
}

